
.bg-container {
    background-image: url("https://images.unsplash.com/photo-1619120238346-978e07731e77?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8dG91cmlzbXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=600");
    height: 100vh;
    background-size: cover;
}
.card{
  text-align: center;
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 30px;
}
.main-heading {
    color: black;
    font-family:"Monoton";
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
.paragraph {
    color: black;
}
.button {
    height: 36px;
    width: 136px;
    background-color: #a8a8a8;
    color: white;
    border-radius: 20px;
    border-width: 0px;

}
.button-green {
    background-color: green;
}
